﻿
@{
    ViewBag.Title = "index";
}
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary" id="cadastroProd">
            <div class="panel-heading"> {{vm.panelTitulo}}</div>
            <div class="panel-body">

                <form class="" name="mform">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="vm.product.name" placeholder="Nome do Produto" />
                    </div>
                    <br />
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="vm.product.category" placeholder="Categoria do Produto" />
                    </div>
                    <br />
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="vm.product.price" placeholder="Preço do Produto" />
                    </div>
                    <br />
                    <div class="input-group" ng-show="vm.btn">
                        <button class="btn btn-primary" ng-click="vm.newProduct()">Novo Produto</button>
                    </div>
                    <div class="form-inline" ng-show="!vm.btn">
                        <button class="btn btn-primary" ng-click="vm.updateProduct()">Atualizar Produto</button>
                        <button class="btn btn-primary" ng-click="vm.Cancelar()">Cancelar</button>
                        
                    </div>
                    <div class="input-group" ng-show="!vm.btn">
                        <br />
                        <button class="btn btn-danger" ng-click="vm.deleteProduct()">Deletar</button>
                    </div>

</form>
            </div>
        </div>
    </div>
</div>
<br/>

@*<div id="listaProd">
    <h3> Lista de Produtos</h3>
    
        <div ng-repeat="product in vm.products">
            <ul class="list-group-item-heading">
                <li class="list-group-item active" ng-bind="'Produto ' + product.id"></li>
                <li class="list-group-item" ng-bind="product.name"></li>
                <li class="list-group-item" ng-bind="product.category"></li>
                <li class="list-group-item" ng-bind="product.price"></li>
            </ul>
        </div>
    
</div>*@

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Lista de Produtos</div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço</th>

            </tr>
            <tr id='linha' ng-dblclick="vm.selectProduct(this);" ng-repeat="product in vm.products">
                <td ng-bind="product.id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.category"></td>
                <td ng-bind="'R$' + product.price"></td>
            </tr>
        </table>
    </div>
</div>